/* Bottom Navigation */
.bottomNav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 76px;
  background-color: var(--white);
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding-top: 13px;
  box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.06);
}

.navItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 8px 12px;
  color: var(--gray30);
  font-size: 12px;
  font-weight: 400;
  min-height: 44px;
  min-width: 44px;
  cursor: pointer;
  background: none;
  border: none;
}

.navItem.active {
  color: var(--primary50);
}

.navIcon {
  width: 32px;
  height: 32px;
  filter: brightness(0) saturate(100%) invert(82%) sepia(8%) saturate(476%)
    hue-rotate(186deg) brightness(87%) contrast(87%);
}

.navItem.active .navIcon {
  filter: brightness(0) saturate(100%) invert(6%) sepia(26%) saturate(5282%)
    hue-rotate(221deg) brightness(93%) contrast(101%);
}

.navLabel {
  font-size: 12px;
  font-weight: 400;
}
